@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Dosis&display=swap");

body {
  font-family: "Concert One", cursive;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(29, 29, 29);
}

/* ==========================  HEADER  ============================ */

.title {
  font-size: 40px;
  height: 80px;
  background-color: rgb(49, 49, 49);
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==========================  BODY  ============================== */

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.options {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  margin-top: 150px;
  width: 140px;
  height: 40px;
  outline: none;
  background-color: white;
  border: 2px solid white;
  border-radius: 2px;
  font-size: 20px;
  font-family: "Concert One";
  cursor: pointer;
}

.board {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  border-radius: 5px;
  width: 350px;
  height: 350px;
  margin: auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  background: rgb(10, 10, 10);
  border: 2px solid white;
  font-family: "Concert One", cursive;
  font-weight: lighter;
  font-size: 50px;
  cursor: pointer;
  outline: none;
  color: white;
  transition: 0.3s;
}

.box:hover {
  transform: scale(1.05);
}

.bg1 {
  display: flex;
  margin: -250px 0 0 400px;
  width: 200px;
}

.scores-container {
  width: 100%;
  color: white;
  font-size: 30px;
  margin: -210px 0 0 0;
  text-align: center;
}

.scores {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.score {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(105, 105, 105);
  border: 0px solid;
  border-radius: 10px;
  padding: 10px;
  font-family: "Dosis", sans-serif;
  animation-name: zoom;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* ===========================  FOOTER  =========================== */

.player {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(41, 41, 41);
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.clear-button {
  margin-left: 25px;
  margin-bottom: 5px;
  font-family: "Concert One", cursive;
  font-size: 20px;
  outline: none;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(247, 250, 81);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.reset-button {
  margin-left: 25px;
  font-family: "Concert One", cursive;
  font-size: 20px;
  outline: none;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 59, 59);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.clear-button:hover,
.reset-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/* ===========================  MOBILE  =========================== */

@media only screen and (max-width: 480px) {
  .board {
    margin-top: 140px;
  }
  .mode {
    margin-top: -60px;
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
  .board {
    width: 250px;
    height: 250px;
  }

  .box {
    font-size: 40px;
  }

  .options {
    font-size: 17px;
    width: 100px;
  }

  .scores-container {
    margin-top: -175px;
  }
  .score {
    font-size: 20px;
  }

  .player {
    font-size: 25px;
  }

  .clear-button,
  .reset-button {
    font-size: 18px;
  }
}
